form {
    text-align: center;
    margin-top: 160px;
    border:20px;
    border: 1.6px  solid ;
    height: 390px;
    border-color: rgb(254, 194, 133);
    width: 390px;
    margin-left: 320px; 
    border-radius: 20px;
  }
  
  .nut {
    margin-right: 160px;
    display: block;
    margin-top: 20px;
    color: aliceblue;
  }
  
  input[type="text"],
  input[type="email"] {
    margin-bottom: 10px;
    padding: 5px;
    margin-left: 20px;
    background-color: rgb(217, 254, 255);
   height: 40px;
   width: 280px;

  }
  
  input[type="submit"] {
    margin-left: 10px;
    padding: 5px;
    height: 40px;
    margin-top: 10px;
    background-color: rgb(255, 75, 129);
    /* Add additional styling if needed */
  }
  